<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.editimage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".EditImageActivity"
            android:process=":editImage"
            android:theme="@style/EditImageTheme" />
    </application>
</manifest>